= %{<!DOCTYPE xhtml">}.html_safe
-# !!!
%html
  %head
    %title Cloud | Contacts
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body.contacts
    %div{:class=> 'contacts-view'}
      = yield